.login-root{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:bottom right;
}
.login-root img{
    height: 50px;
    text-align: center;
}
.login-form{
    width:40%;
}
.google-login{
   border: 1px solid lightgray;
   background-repeat: no-repeat;
   margin: 5px;
   border-radius:50px;
}
.google-login img{
    padding:10px;
}
.google-login p{
    margin:0;
    width:80%;
    text-align: center;
    cursor: pointer;
}
.google-login:hover{
    background-color: lightgray;
}
